# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.codex-dotnet/
Logs/

# Other files and folders
.settings/
*.user
appsettings.local.json
appsettings.*.local.json

# Executables
*.swf
*.air
*.ipa
*.apk
*.vs
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.trae/documents
/.trae/
.trae/*
.trae/skills/*
/.agents/
.agents/skills/*
.lingma